@charset "UTF-8";
/* 
共通部分
--------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Kiwi Maru', sans-serif;
    line-height: 37px;
    color: #90929a;
    background: #dee9ff80;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #7D7F86;
}
img {
    max-width: 100%;
}
main {
    min-height: calc(100vh - 100px - 70px);
    margin-top: 100px;
}
/* コンテンツ全体に対する指定 */
.wrapper {
    /* margin: 0 auto; */
    padding: 0 4%;
}

/* 
Header
--------------------------*/
/* ロゴとメニューの横並び */
.page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #73dad4E6;
    width: 100%;
    height: 100px;
    border-top: 5px solid #FAFAFA;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 4%;
}
/* サイトタイトル */
.site_title {
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-weight: 550;
    font-size: 35px;
    text-align: left;
    color: #FAFAFA;
    vertical-align: middle;
}
/* ロゴ */
.logo {
    width: 53px;
    vertical-align: middle;
    padding-bottom: 5px;
}
/* メニューの横並び */
.menu_nav {
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.03em;
    padding: 3% 0;
}
.menu_nav li {
    margin-left: 61px;
}
/* ホバー時のための設定 */
.menu_nav li a {
    position: relative;
    display: inline-block;
}
/* ホバー時に下線を引く */
.menu_nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #192F60;
    height: 1px;
    transition: all 0.3s ease-in-out;
}
/* 新規予約ボタン */
.request_btn {
    background-color: #ffab40ff;
    transition: all 0.3s;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.request_btn a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.request_btn:hover {
    background-color: #192F6000;
    outline: solid 1px #192F60;
}
.request_btn:hover a {
    color: #192F60;
}
.request_btn:hover a::after {
    content: none;
}
/* TOPボタン */
.index_btn {
    background-color: #192F60;
    transition: all 0.3s;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.index_btn a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.index_btn:hover {
    background-color: #192F6000;
    outline: solid 1px #192F60;
}
.index_btn:hover a {
    color: #192F60;
}
.index_btn:hover a::after {
    content: none;
}
/*
Main Visual
--------------------------*/
.main_content {
    padding: 100px 4% 0;
    height: 90vh;
}
.content_title {
    font-family: 'Noto Sans JP', sans-serif;
    color: #192F60;
    line-height: 58px;
    padding: 20px 50px;
}
.content_title span {
    display: block;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 5px;
}
.switch_btn {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
}
/* 前の週ボタン */
.return_btn {
    background-color: #91afe4;
    width: 70px;
    height: 30px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
}
.return_btn a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
/* 次の週ボタン */
.next_btn {
    background-color: #91afe4;
    width: 70px;
    height: 30px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
}
.next_btn a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
/*
管理者メニュー
--------------------------*/
.admin_menu {
    background-color: #FAFAFA;
    padding: 0 4%;
}
.admin_content {
    display: flex;
    justify-content: space-around;
    padding: 10px 150px 70px;
    margin-bottom: 0;
}
/*
管理者メニューボタン
--------------------------*/
.admin_btn {
    background-color: #192F60;
    transition: all 0.3s;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.admin_btn a {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
.admin_btn:hover {
    background-color: #192F6000;
    outline: solid 1px #192F60;
}
.admin_btn:hover a {
    color: #192F60;
}
.admin_btn:hover a::after {
    content: none;
}

/*
カレンダー
--------------------------*/
.container{
    background-color: #FAFAFA;
    padding: 0 20px 5px ;
    max-width: 150vh;
}



.page_footer {
    height: 70px;
    background-color: #D2D2D2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color: #ffffff;
    font-size: 1rem;
}
.errors {
    margin: 10px 0;
}
.errors li {
    margin-top: 5px;
    color: #ec008c;
    text-align: center;
    list-style: none;
}

/* upload.php */
.content_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload_content_form {
    width: 50%;
}
.upload_content_label {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #CCCCCC;
    border-radius: 40px;
    color: #ffffff;
}
.plus_icon {
    display: inline-block;
    font-size: 50px;
}
.upload_text {
    font-size: 30px;
    font-weight: bold;
}
.input_file {
    display: none;
}
.input_text {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px;
    height: 73px;
}
.upload_content_label img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.input_text::placeholder {
    color: #E6E6E6;
}
.upload_submit {
    display: block;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 18px;
    padding: 2px 30px;
    background: #F15A24;
    color: #ffffff;
    margin-left: auto;
}

/* index.php */
.article {
    margin: 5% 0;
}
.grid {
    margin: 0 auto;
}
.grid_item {
    width: 250px;
}
.grid_item img {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
}
.add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #4D4D4D;
    border: 1px solid #eae7e7;
    border-radius: 50%;
    box-shadow: 1px 1px #00000080;
    text-decoration: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
}

/* show.php */
.content {
    width: 50%;
    margin: 0 auto;
}
.main_content img {
    width: 100%;
    height: 50vh;
    border-radius: 40px;
    object-fit: cover;
}
.main_content p {
    margin-top: 10px;
    width: 100%;
    color: #4D4D4D;
}
.button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.edit_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #39B54A;
    text-decoration: none;
    color: #FFFFFF;
}
.delete_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #CCCCCC;
    margin-left: 10px;
    color: #FFFFFF;
}

/* edit.php */
.update_button {
    font-size: 18px;
    border-radius: 18px;
    padding: 5px 30px;
    background: #F15A24;
    color: #FFFFFF;
}

/* signup.php */
.signup_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
}
.signup_title {
    text-align: center;
}
.email_label,
.name_label,
.password_label {
    display: block;
    margin: 10px 0px;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999999;
}
.button_area {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.signup_button,
.login_button {
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    border-radius: 30px;
}
.login_page_button,
.signup_page_button {
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    text-decoration: none;
}

/* login.php */
.login_content {
    background-color: #DDDDDD;
    border-radius: 10px;
    width: 500px;
    margin: 50px auto;
    padding: 50px;
}
.login_title {
    text-align: center;
    margin-bottom: 30px;
}
.login_button {
    border-radius: 30px;
    background: #239bed;
    padding: 15px 0;
    width: 48%;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
    text-indent: 0.5rem
}
.signup_page_button {
    border-radius: 30px;
    text-align: center;
    padding: 15px 0;
    width: 48%;
    background: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

.right_content {
    display: flex;
}
.login_info {
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.login_info p {
    margin-right: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    color: #FFFFFF;
}
.header_logout_button {
    align-items: center;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
}
.header_login_button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}

/* レスポンシブ */
@media (max-width: 900px) {
    /* upload.php */
    .upload_content_label {
        height: 355px;
    }
    .upload_content_form {
        width: 70%;
    }
    /* show.php */
    .content {
        width: 70%;
    }
}

@media (max-width: 600px) {
    /* upload.php */
    .upload_content_form {
        width: 90%;
    }
    /* show.php */
    .content {
        width: 90%;
    }
    /* signup.php */
    .signup_content {
        width: 70%;
    }
    .button_area {
        margin-top: 15px;
        flex-direction: column;
    }
    .signup_button {
        width: 100%;
        padding: 10px;
    }
    .login_page_button {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        padding: 10px;
    }
    /* login.php */
    .login_content {
        width: 70%;
    }
    .login_button {
        width: 100%;
        padding: 10px;
    }
    .signup_page_button {
        text-align: center;
        width: 100%;
        margin-top: 5px;
        padding: 10px;
    }
} 
